<% title "Balance Sheet" %>

<p>Your total payment: <%= raw format_money @total %>, unconfirmed: <%= raw format_money(@unconfirmed) %></p>
<p>Your balance: <%= raw format_money @bal %></p>
<p>All user payment: <%= raw format_money @all_user_total %></p>
<% if @bal != 0 %>
<hr align="left" class="balance_hr"/>
  <p>
  <% if @bal > 0 %>
    Following people owe you money:
  <% elsif @bal < 0%>
    You owe these people money: 
  <% end%>
  </p>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Money</th>
        </tr>
      </thead>
      <tbody>
      <% @due.each do |due| %>
        <tr>
          <td><%= due[:user].username %></td>
          <td><%= raw format_money(due[:amount])%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
<% end%>
<br/>
  
<hr class="balance_hr" align="left"/>
<p>
  All Balances:
</p>

<table>
  <thead>
    <tr>
      <th>User</td>
      <th>Balance</td>
    </tr>
  </thead>
  <tbody>
    <% @balances.each do |balance|%>
    <tr>
      <td><%= balance.user.username%></td>
      <td><%= raw (format_money balance.amount) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

