<% title "Balance Sheet" %>

<input type='hidden' id='my_name' value='<%=@current_user.username%>'/>
<p>Your total payment: <%= raw format_money @total %>, unconfirmed: <%= raw format_money(@unconfirmed) %></p>
<p>Your balance: <%= raw format_money @bal %></p>
<p>All user payment: <%= raw format_money @all_user_total %></p>

<hr class="balance_hr" align="left"/>
<p>
  All Balances:
</p>

<table>
  <thead>
    <tr>
      <th>User</td>
      <th>Balance</td>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |user|%>
      <tr class='<%= user == current_user ? 'hl_row current_user my_friend' : '' %> <%= "my_friend" if current_user.is_friend?(user)%> '>
      <td class='td_username '>
        <span class='sp_username'><%= user.username%></span>
        <span class='icon_coin sp_payback' style='visibility:hidden'>Payback</span></td>
      <td class=<%=user.username+"_balance"%> ><%= raw (format_money user.balance.nil? ? 0: user.balance.amount) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div id='div_repay' style='display:none'>
  <%= render :partial => 'activities/payback' %>
</div>
<script type="text/javascript" language="javascript">
  $(function(){
      $("tr:not(.current_user) .td_username").mouseover(function(){$(this).find(".sp_payback").css("visibility","visible");});
      $("tr:not(.current_user) .td_username").mouseout(function(){$(this).find(".sp_payback").css("visibility", "hidden");});
      var my_name = $("#my_name").val();
      $(".sp_payback").click(function(){
        receiver_name = $(this).prev(".sp_username").text();
        payback_page.show_payback_dialog(my_name, receiver_name);
      });
      $("tr:not(.my_friend)").css("display","none");
  });

</script>

