<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Untitled" %></title>
    <%= stylesheet_link_tag "base" %>
    <%= stylesheet_link_tag "scaffold" %>
    <%= stylesheet_link_tag "jquery/jquery-ui-1.8.5.custom" %>
    <%= stylesheet_link_tag "jquery/ui.jqgrid" %>
    <%= stylesheet_link_tag "datePicker" %>
    <%= stylesheet_link_tag "table" %>
    <%= stylesheet_link_tag "themes/#{session[:theme].nil?? 'base' : session[:theme]}/ui.all" %>

    <%= javascript_include_tag 'jquery/jquery-1.4.2.min' %>
    <%= javascript_include_tag 'jquery/ui/jquery-ui-1.8.5.custom.min' %>
    <%= javascript_include_tag 'jquery/jqgrid/grid.locale-en' %>
    <%= javascript_include_tag 'jquery/jqgrid/jquery.jqGrid.min' %>
    <%= javascript_include_tag 'date' %>
    <%= javascript_include_tag 'datePicker'%>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <%= image_tag "logo.png", :class=>'logo'%>
        <span id='sitetitle'> FanFan</span>
        <span id='beta'>
        <span id='beta_tag' class="roundbox">beta</span></span>
        <div id="welcome">
          <% if logged_in? %>
          Welcome <%= link_to current_user.username, :controller => 'users', :action => 'home', :id => current_user %>!
          <%= link_to "Log out", logout_path %>
          <% else %>
          <%= link_to "Sign up", signup_path %> or
          <%= link_to "log in", login_path %>.
          <% end %>
        </div>
      </div>
      <div id="wrapper">

        <div id="navigation">

          <% if current_user %>
            <div id="tiny_dashboard">
              <ul>
                <li><%= link_to "Account", balances_path %>: <%= raw format_money( current_user.balance ? current_user.balance.amount : 0)  %> </li>
              </ul>
            </div>
            <hr width="90%"/>

              <ul id="navigation_menu">
                <li class="activities"><%= link_to t(:activity),activities_path %></li>
                <li class="messages"><%= link_to t(:message), messages_path %></li>
                <li class="balances"><%= link_to t(:balance), balances_path%></li>
                <li class="balances"><%= link_to t(:fantuan), fantuans_path%></li>
              </ul>
              <% else %>
              <div id="advertise">
                <%= image_tag "eat_life2.png" %>
              </div>
            <% end %>
      </div>
      <div id="content">
          <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>

          <%= content_tag :h1, yield(:title) if show_title? %>
          <%= yield %>

        </div>
      <div id="footer">
        <span style="float: right; font-weight: bold">
          <% if rand(3) == 0 %>
            Simple, the Best.
          <% else %>
            Life, is for eating.
          <% end %>

        </span>
        <span style="float: right; clear: both">-- Fanfan</span>
      </div>
      </div>

    </div>

  </body>


</html>
