<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Untitled" %></title>
    <%= stylesheet_link_tag "scaffold" %>
    <%= stylesheet_link_tag "jquery/jquery-ui-1.8.5.custom" %>
    <%= stylesheet_link_tag "jquery/ui.jqgrid" %>
    <%= stylesheet_link_tag "datePicker" %>
    <%= stylesheet_link_tag "table" %>
    <%= stylesheet_link_tag "themes/#{session[:theme].nil?? 'base' : session[:theme]}/ui.all" %>

    <%= javascript_include_tag 'jquery/jquery-1.4.2.min' %>
    <%= javascript_include_tag 'jquery/ui/jquery-ui-1.8.5.custom.min' %>
    <%= javascript_include_tag 'jquery/jqgrid/grid.locale-en' %>
    <%= javascript_include_tag 'jquery/jqgrid/jquery.jqGrid.min' %>
    <%= javascript_include_tag 'date' %>
    <%= javascript_include_tag 'datePicker'%>
    <%= javascript_include_tag 'application'%>


    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <%= image_tag "logo.png"%>
        <span id='sitetitle'> FanFan</span>
        <div id="welcome">
          <% if logged_in? %>
          Welcome <%= current_user.username %>! Not you?
          <%= link_to "Log out", logout_path %>
          <% else %>
          <%= link_to "Sign up", signup_path %> or
          <%= link_to "log in", login_path %>.
          <% end %>
        </div>
      </div>
      <div id="wrapper">

        <div id="navigation">

        <div id="tiny_dashboard">
          <ul>
            <% if current_user %>
            <li><%= link_to current_user.username.capitalize, balances_path %>: <%= raw current_user.balance ? format_money(current_user.balance.amount) : ""  %> </li>
            <% end %>
          </ul>
        </div>

          <ul id="navigation_menu">
            <li><%= link_to "My Activities",activities_path %></li>
            <li><%= link_to "Messages", messages_path %></li>
            <li><%= link_to "Balance Sheet", balances_path%></li>
          </ul>
        </div>
        <div id="content">
          <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>

          <%= content_tag :h1, yield(:title) if show_title? %>
          <%= yield %>

        </div>
      </div>
      <div id="footer">
      </div>

    </div>

  </body>


</html>
