<h1>Messages</h1>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
            $("#message_list table tr td#body").each(function(i){
                $(this).html($(this).html().replace(/(http:\/\/[^\s]+)/i, '<a href="$1">$1</a>'));
            })
    });
  </script>

 <div id="message_list">
          <table border="0" style="width: 100%">
          <tr><th>From</th><th width="120px">Sent at</th><th>Message body</th> </tr>
     <% @messages.each do |message| %>
              <tr>
                  <td class="author"> <%= link_to message.sender.username %> </td>
                  <td class="date">   <%= message.sent_date %> </td>
                  <td class="body" id="body">   <%= raw message.body %> </td>
              </tr>
     <% end %>
          </table>
     <div id="reply">
       <%= form_for @new_message, :as => :message, :url => {:action => :reply, :id => @thread }  do |f| %>
      <div class="field">
        <br/>
        <%= f.label :body, "Reply"%><br />
        <%= f.text_area :body, :cols => 70, :rows => 10%>
      </div>
      <div class="actions">
        <%= f.submit "Reply"%>
      </div>
       <% end %>
     </div>
 </div>
<br />

<div class="navigation-link" >
  <%= link_to "Back to List", messages_path %>
</div>

