<script type="text/javascript" language="javascript">

var payercount=1;
function addNewPayer()
{

  var newpayer=$('#payer1').clone();
  $('#payer_list').append(newpayer);

  var newdivid='payer'+(++payercount);
  newpayer.attr('id',newdivid);
  newpayer.find('.payername').attr('id','payername'+(payercount));
  newpayer.find('.payamount').attr('id','payeramount'+(payercount));
  newpayer.find('.payamount').attr('value',0);
  newpayer.find('.remove_payer').click(function(){newpayer.remove();updateFinalRemaining()});
  newpayer.find('.payamount').change(updateFinalRemaining);
  newpayer.find('.payamount').keyup(updateFinalRemaining);
  newpayer.find('.payamount').attr('readonly','');

  newpayer.css('display', '');
  //newpayer.children().eq(3).attr('readonly','');


  var payers=$('.payername:not(#payername'+payercount+')')

  payers.each(function(index){
    newpayer.find('option[value='+this.value+']').remove();
    });
  newpayer.click(updateFinalRemaining);
  updateFinalRemaining();
  return;
}


function validate_activity()
{


if($('#payamount1').val()==null || $('#payamount1').val() == "")
  {
    $('#payer1').addClass('field_with_errors');
    alert("Need one payment at least!");
    $('#payamount1').focus();
    return false;
  }

  return true;
}
function debug()
{
  /*alert($('#payamount1').val());*/
  var test1=document.getElementById('payername1');
  alert(test1.selectedIndex);
  test1.selectedIndex=2;
}



  function getRemainingAmount()
  {
    var amount=0;
    jQuery(".payamount").each(function(index){
       if(index != 0)
         amount+=parseFloat(this.value);
    })
    var total=parseFloat(jQuery("#activity_cost").val());
    if (isNaN(total) )
      return 0;
    return total - amount;
  }
  function updateFinalRemaining()
  {
    jQuery("#final_payer_amount").text(getRemainingAmount());
    jQuery("#payamount1").attr('value',getRemainingAmount());

  }

jQuery(function (){


  updateFinalRemaining();
  jQuery(".payamount").click(updateFinalRemaining);
  jQuery("#activity_cost").change(updateFinalRemaining);
  jQuery("#activity_cost").keyup(updateFinalRemaining);

  $( "#activity_occur_at" ).datepicker({dateFormat: 'yy-mm-dd'});

  //user moved to paticipants list when click them
  jQuery("#user_candidate .user_thumb").css("color","blue").css("cursor","pointer")
    .click(function(){moveAnimate(jQuery(this), jQuery("#user_attended"));
                      jQuery(this).unbind('click');
    /*jQuery("#user_attended").append(this)*/});
  jQuery(".meta-default-text").click(function(){ 
                      jQuery(this).css("display", "none");
                      jQuery(this).next().focus();});
  jQuery(".meta-input").focusout(function(){
                      if (jQuery(this).val().length == 0)
                      {
                        jQuery(this).prev().css("display","block");
                      }});
  
});
</script>

<%= form_for @activity do |f| %>
  <%= f.error_messages %>
  <p>
    <div class="meta-inner">
      <div class="meta-default-text" style="display: block; ">Enter your activity summary...</div>
      <%= f.text_field :subject, :class => "meta-input", :size=> 70, :maxlength => 200, :spellcheck => true %>
    </div>
  </p>
  <p>
    <s class="icon icon_date"></s>
    <%= f.label :occur_at %>
    <%= f.text_field :occur_at, :value => DateTime.now.rfc3339[0..9], :size => 10 %>
    <%= select_tag "activity[occur_at_time]", options_from_collection_for_select((1..24).to_a.map{|i| "%02d:00" % i},'to_s','to_s','12:00')%>
  </p>
  <p>
    <s class="icon icon_coin"></s>
    <%= f.label :cost %>
    <%= f.number_field :cost, :size => 15 %>
  </p>
<div class="demo-description" style="display: none; ">
<p>The datepicker is tied to a standard form input field.  Focus on the input (click, or use the tab key) to open an interactive calendar in a small overlay.  Choose a date, click elsewhere on the page (blur the input), or hit the Esc key to close. If a date is chosen, feedback is shown as the input's value.</p>
</div>
  <p>
    <s class="icon icon_people "></s>
    <%= f.label "Attendees"%>
  </p>
    <%= render 'payers' %>

  <p>
    <s class="icon icon_detail"></s>
    <%= f.label :detail %><br />
    <%= f.text_area :detail, :cols => "70", :rows => "8" %>
  </p>

  <p><%= f.submit "Create", :onclick => "return validate_activity()", :class => "create_button"%></p>

<% end %>
