<script>
$(function (){
  /*$('label').css('color','red');*/
  /*$('#add_payer').click(function(){$('#payers').append($('.templ_payer:eq(0)').clone().css('display','')); })*/
  //$('#activity_cost').change(function(){$('#payamount1').attr('value',$('#activity_cost').val())});
});

var payercount=1;
function addNewPayer()
{

  var newpayer=$('#payer1').clone();
  $('#payers').append(newpayer);

  var newdivid='payer'+(++payercount);
  newpayer.attr('id',newdivid);
  newpayer.find('.payername').attr('id','payername'+(payercount));
  newpayer.find('.remove_payer').click(function(){newpayer.remove();});
  newpayer.css('display', '');
  newpayer.children().eq(3).attr('readonly','');

  var payers=$('.payername:not(#payername'+payercount+')')

  payers.each(function(index){
    newpayer.find('option[value='+this.value+']').remove();
    });
  return;
}

function validate_activity()
{


if($('#payamount1').val()==null || $('#payamount1').val() == "")
  {
    $('#payer1').addClass('field_with_errors');
    alert("Need one payment at least!");
    $('#payamount1').focus();
    return false;
  }

  return true;
}
function debug()
{
  /*alert($('#payamount1').val());*/
  var test1=document.getElementById('payername1');
  alert(test1.selectedIndex);
  test1.selectedIndex=2;
}
jQuery(function() {
        $( "#activity_occur_at" ).datepicker({dateFormat: 'yy-mm-dd'});
    });

</script>

<%= form_for @activity do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <% if @activity.id %>
    <p>
      <%= f.label :status %><br />
      <%= f.text_field :status %>
    </p>
  <% end %>
  <p>
    <%= f.label :cost %><br />
    <%= f.number_field :cost %>
  </p>
  <p>
    <%= f.label :occur_at %><br />
    <%= f.text_field :occur_at, :value => DateTime.now.rfc3339[0..9] %>
    <%= select_tag "activity[occur_at_time]", options_from_collection_for_select((1..24).to_a.map{|i| "%02d:00" % i},'to_s','to_s','12:00')%>

  </p>
<div class="demo-description" style="display: none; ">
<p>The datepicker is tied to a standard form input field.  Focus on the input (click, or use the tab key) to open an interactive calendar in a small overlay.  Choose a date, click elsewhere on the page (blur the input), or hit the Esc key to close. If a date is chosen, feedback is shown as the input's value.</p>
</div>
  <p>
    <%= f.label :detail %><br />
    <%= f.text_field :detail %>
  </p>
  <p>
    <%= f.label "Attendees"%><br/>
  </p>
    <%= render 'payers' %>


  <p><%= f.submit "Create", :onclick => "return validate_activity()"%></p>
<input onclick="debug();" type="button" value="debug">
<% end %>
