<script type="text/javascript" language="javascript">


function validate_activity()
{
  var validate=true;
  var submitted_users = [];
  if($('#activity_subject').val() == "")
  {
    $('#activity_subject').css("border-color","red");
    return false;
  }
  if($('#payamount1').val()==null || $('#payamount1').val() == "")
  {
    $('#payer1').addClass('field_with_errors');
    alert("Need one payment at least!");
    $('#payamount1').focus();
    return false;
  }


  $('.payername').each(function(index){
    if (users_names.indexOf(this.value) == -1) {
      alert("Invalid participant: " + this.value);
      validate = false;
    }
    
    if (submitted_users.indexOf(this.value) != -1) {
      alert("Duplicate user: " + this.value);
      validate = false;
    }
    submitted_users.push(this.value);
  });

  return validate;
}
function debug()
{
  /*alert($('#payamount1').val());*/
  var test1=document.getElementById('payername1');
  alert(test1.selectedIndex);
  test1.selectedIndex=2;
}



  function getRemainingAmount()
  {
    var amount=0;
    jQuery(".payamount").each(function(index){
       if(index != 0)
         amount+=parseFloat(this.value);
    })
    var total=parseFloat(jQuery("#activity_cost").val());
    if (isNaN(total) )
      return 0;
    return total - amount;
  }
  function updateFinalRemaining()
  {
    jQuery("#final_payer_amount").text(getRemainingAmount());
    jQuery("#payamount1").attr('value',getRemainingAmount());

  }

jQuery(function (){

  updateFinalRemaining();
  jQuery(".payamount").click(updateFinalRemaining);
  jQuery(".payamount").keyup(updateFinalRemaining);
  jQuery("#activity_cost").change(updateFinalRemaining);
  jQuery("#activity_cost").keyup(updateFinalRemaining);

  $( "#activity_occur_at" ).datepicker({dateFormat: 'yy-mm-dd'});

  //user moved to paticipants list when click them
  jQuery("#user_candidate .user_thumb").css("color","blue").css("cursor","pointer")
    .click(function(){moveAnimate(jQuery(this), jQuery("#user_attended"));
                      jQuery(this).unbind('click');
    /*jQuery("#user_attended").append(this)*/});
  jQuery(".meta-default-text").click(function(){ 
                      jQuery(this).css("display", "none");
                      jQuery(this).next().focus();});
  function toggle_place_holder(ele){
                      if (jQuery(ele).val().length == 0)
                      {
                        jQuery(ele).prev().css("display","block");
                      }
                      else
                      {
                        jQuery(ele).prev().css("display","none");
                        $(ele).css("border-color", "#A7C942");
                      }
  }

  jQuery(".meta-input").keyup(function(){toggle_place_holder(this)});

  jQuery(".meta-input").focusout(function(){toggle_place_holder(this)});

  $("form").submit(function(){
        return (validate_activity());
      });
  $("#activity_subject").focus();
  
});
</script>
<!--  -->
<div id="activity_form">
<%= form_for @activity do |f| %>
  <%= f.error_messages %>
  <p>
    <div class="meta-inner">
      <div class="meta-default-text" style="display: <%= @activity.new_record? ? 'block' : 'none'; %> ">Enter your activity summary...</div>
      <%= f.text_field :subject, :class => "meta-input subject", :spellcheck => true %>
    </div>
  </p>
  <p>
    <s class="icon icon_date"></s>
    <span style="display:inline-block; width:100px"><%= f.label :occur_at %></span>
    <%= f.text_field :occur_at, :value => DateTime.now.rfc3339[0..9], :size => 10 %>
    <%= select_tag "activity[occur_at_time]", options_from_collection_for_select((1..24).to_a.map{|i| "%02d:00" % i},'to_s','to_s','12:00')%>
  </p>
  <p>
    <s class="icon icon_coin"></s>
    <span style="display:inline-block; width:90px"><%= f.label :cost%></span>
    <span style="font-family: Arial">&yen;</span>
    <%= f.number_field :cost, :class => "payamount total-cost",:min => 1, :max => 1000000%>
  </p>
<div class="demo-description" style="display: none; ">
<p>The datepicker is tied to a standard form input field.  Focus on the input (click, or use the tab key) to open an interactive calendar in a small overlay.  Choose a date, click elsewhere on the page (blur the input), or hit the Esc key to close. If a date is chosen, feedback is shown as the input's value.</p>
</div>
  <p>
    <s class="icon icon_people "></s>
    <%= f.label "Attendees"%>
  </p>
    <%= render 'payers' %>


  <div class="div-action-button" >
    <div style="float: left; width: 100%"></div>
    <div style="float: right">
      <%= f.submit "Save", :class => "create_button"%>
    </div>
  </div>

<% end %>
</div>
