<div id='payers'>

  <% payments = @activity.payments %>
  <p>
    <span id='final_payer_span'>
       <%= label :payers, "Final Payer:" %>
          <%= select_tag "activity_dummy", options_from_collection_for_select(@users,"id","username",{:selected=>@users[0].id}), :class=>'payername',:id=>'final_payer'%>
    </span>
    <div style='background-color:#eeeeee;'>The final payer is the one who collected the cash and gave the it to the waiter or pay by credit card.</div>
  </p>
  <% payments << Payment.new() if payments.empty? %>
    <% payments[0].amount = @activity.cost %>
    <% readonly = true %>
    <% for payment in payments  %>

       <div  class='newPayer' id='payer1' style='display: none'>
          <%= label :payers, "Payer:"%>
          <%= select_tag "activity[payments][]", options_from_collection_for_select(@users,"id","username",{:selected=>payment.user_id}), :class=>'payername',:id=>'payername1'%>
          <%= label :payers, "Amount:"%>  <%= number_field_tag :amount, payment.amount || 0, {:min => 1,:step=>1,:class=>"payamount",:name=>"activity[payments][]",:id=>"payamount1", :readonly=>readonly}%>
          <a href="javascript:void(0)" class='remove_payer'>Remove</a>
       </div>
    <% readonly = false %>
<% end %>
</div>
<span id="add_payer"><%= button_to_function "add payer", "addNewPayer()"%></span>
