<script type="text/javascript" language="javascript">
  var users_names = [];
  <% @users.each do |u| -%>
    users_names.push('<%= u.username %>')
  <% end -%>

  jQuery(function() {
    jQuery( ".payername" ).autocomplete({
      source: users_names,
      minLength: 1
    })
  });


  var payercount=1;
  function addNewPayer()
  {

    var newpayer=$('#payer1').clone();
    $('#payer_list').append(newpayer);

    var newdivid='payer'+(++payercount);
    newpayer.attr('id',newdivid);
    newpayer.find('.payername').attr('value', '');
    newpayer.find('td').eq(1).find('span').nextAll().remove();
    newpayer.find('td').eq(1).append($('<input type="number" class="payamount" name="activity[payments][]"></input>'));
    newpayer.find('td').eq(2).append($('<a href="javascript:void(0)" class="remove_payer">Remove</a>'));
    newpayer.find('.payername').attr('id','payername'+(payercount));
    newpayer.find('.payamount').attr('id','payeramount'+(payercount));
    newpayer.find('.payamount').attr('value',0);
    newpayer.find('.payamount').attr('readonly','');
    newpayer.find('.remove_payer').click(function(){newpayer.remove();updateFinalRemaining()});
    newpayer.find('.payamount').change(updateFinalRemaining);
    newpayer.find('.payamount').keyup(updateFinalRemaining);

    newpayer.css('display', '');
  
    newpayer.find('.payername').autocomplete({
      source: users_names,
      minLength: 2
    });

    var payers=$('.payername:not(#payername'+payercount+')')

    payers.each(function(index){
      newpayer.find('option[value='+this.value+']').remove();
      });
  
    newpayer.click(updateFinalRemaining);
    updateFinalRemaining();

    return;
  }
</script>

<div id='payers'>
  <table style="width: 650px;">
    <tbody id="payer_list">
      <tr>
        <th width="200px">Participant</th>
        <th width="200px">Payed</th>
        <th></th>
      </tr>
      <% payments = @activity.payments %>
      <%if payments.empty? 
          p = Payment.new()
          p.user = current_user
          payments << p 
        end
      %>

      <% payments[0].amount = @activity.cost %>
      <% readonly = true %>
      <% payments.each_with_index do |payment,i|  %>
        <% id = i+1 %>
        <tr  class='newPayer' id='payer<%= id.to_s %>' <%= "style='display: none'" if i == -1 %> >
          <td> 
	    <input id="test" class="payername" name="activity[payments][]" value="<%= payment.user.username %>"/>
          </td>
          <td style="text-align: right">
            <span style="font-family: Arial">&yen;</span>
            <% if i.zero? %>
              <span id='final_payer_amount'></span>
              <input type='hidden' name="activity[payments][]", id="payamount1"></input>
            <% else%>
              <%= number_field_tag :amount, payment.amount || 0,
                  {:step=>1, :max => 1000000,:class => "payamount",:name=>"activity[payments][]",:id=>"payamount#{id}", :readonly=>readonly}%>
            <% end %>
          </td>
          <td>
            <% if ! i.zero? %>
              <a href="javascript:void(0)" class='remove_payer'>Remove</a>
            <% end %>
          </td>
        </tr>
        <% readonly = false %>
      <% end %>
    </tbody>
  </table>
<span id="add_payer" ><%= link_to_function "add participant", "addNewPayer()", :class => "add_payer"%></span>
</div>
