<div id='payers'>

<!--  <% payments = @activity.payments %>
  <label>People in this activity:</label>
  <p id='user_attended'>

  </p>
  <label>People not in this activity:</label>
  <p id='user_candidate'>
    <% @users.each do |user| %>
      <span class='user_thumb'><%= user.username %> </span>
    <% end%>
  </p>
  -->
  <table>
    <tbody id="payer_list">
      <tr>
        <th width="200px">Member</th>
        <th>Payed</th>
        <th></th>
      </tr>
      <tr>
        <td>
          <span id='final_payer_span'>
             <%= label :payers, "" %>
             <%= select_tag "activity_dummy", options_from_collection_for_select(@users,"id","username",{:selected=>@users[0].id}), :class=>'payername',:id=>'final_payer'%>
          </span>
        </td>
        <td>
          <span style="font-family: Arial">&yen;</span>
          <span id='final_payer_amount'><span/>
        </td>
        <td>
        </td>
      </tr>
      <% payments << Payment.new() if payments.empty? %>

      <% payments[0].amount = @activity.cost %>
      <% readonly = true %>
      <% payments.each_with_index do |payment,i|  %>
        <% id = i+1 %>
        <tr  class='newPayer' id='payer<%= id.to_s %>' <%= "style='display: none'" if i == 0 %> >
          <td>  
              <%= select_tag "activity[payments][]", options_from_collection_for_select(@users,"id","username",{:selected=>payment.user_id}), :class=>'payername',:id=>"payername#{id}"%>
          </td>
          <td>
            <span style="font-family: Arial">&yen;</span>
            <%= number_field_tag :amount, payment.amount || 0,
                {:min => 1,:step=>1,:class=>"payamount",:name=>"activity[payments][]",:id=>"payamount#{id}", :readonly=>readonly}%>
          </td>
          <td>
            <a href="javascript:void(0)" class='remove_payer'>Remove</a>
          </td>
        </tr>
        <% readonly = false %>
      <% end %>
    </tbody>
  </table>
</div>
<span id="add_payer" ><%= link_to_function "add payer", "addNewPayer()", :class => "add_payer"%></span>
