<script type="text/javascript" language="javascript">
  var users_names = [];
  <% @users.each do |u| -%>
    users_names.push('<%= u.username %>')
  <% end -%>

  jQuery(function() {
    jQuery( ".payername" ).autocomplete({
      source: users_names
    })
  });


  var payercount=1;
  function addNewPayer()
  {

    var newpayer=$('#payer1').clone();
    $('#payer_list').append(newpayer);

    var newdivid='payer'+(++payercount);
    newpayer.attr('id',newdivid);
    newpayer.find('.payername').attr('value', '');
    newpayer.find('.payername').attr('readonly', '');
    newpayer.find('.payername').removeClass('readonly');
    newpayer.find('.payername').removeClass('creator');
    newpayer.find('td').eq(1).find('span').nextAll().remove();
    newpayer.find('td').eq(1).append($('<input type="number" class="payamount" name="activity[payments][]"></input>'));
    newpayer.find('td').eq(2).append($('<a href="javascript:void(0)" class="remove_payer">Remove</a>'));
    newpayer.find('.payername').attr('id','payername'+(payercount));
    newpayer.find('.payamount').attr('id','payeramount'+(payercount));
    newpayer.find('.payamount').attr('value',0);
    newpayer.find('.payamount').attr('readonly','');
    newpayer.find('.remove_payer').click(function(){newpayer.remove();updateFinalRemaining()});
    newpayer.find('.payamount').change(updateFinalRemaining);
    newpayer.find('.payamount').keyup(updateFinalRemaining);

    newpayer.css('display', '');
  
    newpayer.find('.payername').autocomplete({
      source: users_names
    });

    var payers=$('.payername:not(#payername'+payercount+')')

    payers.each(function(index){
      newpayer.find('option[value='+this.value+']').remove();
      });
  
    newpayer.click(updateFinalRemaining);
    updateFinalRemaining();

    return;
  }
</script>
  <table >
    <tbody id="payer_list">
      <tr>
        <th id="th1"> Participant</th>
        <th id="th2">Paid</th>
        <th>Action</th>
        <th></th>
      </tr>
      <% payments = @activity.payments %>
      <%if payments.empty? 
          p = Payment.new()
          p.user = current_user
          p.activity = @activity
          payments << p 
        end
      %>

      <% payments[0].amount = @activity.cost %>
      <% i_am_creator = current_user.is_creator_of?(@activity) %>
      <% payments.each_with_index do |payment,i|  %>
        <% readonly = ! payment.editable_by_user?(current_user)%>
        <% he_is_creator = payment.user.is_creator_of?(@activity) %>
        <% id = i+1 %>
        <tr  class='newPayer' id='payer<%= id.to_s %>' >
          <td class="name_field"> 
	          <input id="test" class="payername <%= "creator" if he_is_creator %> <%= "readonly" if !i_am_creator || he_is_creator%>" 
                name="activity[payments][]" value="<%= payment.user.username %>" <%= "readonly='readonly'" unless i_am_creator && !he_is_creator%>/>
          </td>
          <td style="text-align: right" class="amount_field">
            <span style="font-family: Arial">&yen;</span>
              <% if readonly %>
                <span class='readonly payer_amount <%= "creator" if he_is_creator %>'><%= payment.amount || 0 %></span>
                <input type='hidden' class='<%= "creator" if he_is_creator %>' name="activity[payments][]" value="<%= payment.amount || 0 %>" id="payamount<%= id %>"></input>

              <% else %>
                <%= number_field_tag :amount, payment.amount || 0,
                  {:step=>1, :max => 1000000,:class => "payamount ",:name=>"activity[payments][]",:id=>"payamount#{id}"}%>
              <% end %>
          </td>
          <td>
            <% if ! readonly %>
              <a href="javascript:void(0)" class='remove_payer'>Remove</a>
            <% end %>
          </td>
          <td> </td>
        </tr>
        <% readonly = false %>
      <% end %>
    </tbody>
  </table>
  <% if i_am_creator %>
    <span id="add_payer" ><%= link_to_function "add participant", "addNewPayer()", :class => "add_payer"%></span>
  <% end %>
