<script type="text/javascript" language="javascript">
  var users_names = [];
  <% @users.each do |u| -%>
    users_names.push('<%= u.username %>')
  <% end -%>

  jQuery(function() {
    jQuery( ".payername" ).autocomplete({
      source: users_names
    })
  });


  var payercount=1;
  function addNewPayer()
  {

    var newpayer=$('#payer1').clone();
    $('#payer_list').append(newpayer);

    var newdivid='payer'+(++payercount);
    newpayer.attr('id',newdivid);
    newpayer.find('.payername').attr('id','payername'+(payercount));
    newpayer.find('.payername').attr('name', 'payments_'+payercount+'[name]');
    newpayer.find('.payername').attr('value', '');
    newpayer.find('.payername').attr('readonly', '');
    newpayer.find('.payername').removeClass('readonly');
    newpayer.find('.payername').removeClass('creator');

    newpayer.find('.td_amount span.currency_mark').nextAll().remove();
    newpayer.find('.td_amount').append($('<input type="number" step="any" max="100000" class="payamount" name="payments_'+payercount+'[amount]"></input>'));
    newpayer.find('.payamount').attr('id','payeramount'+(payercount));
    newpayer.find('.payamount').attr('value',0);
    newpayer.find('.payamount').attr('readonly','');
    newpayer.find('.payamount').change(updateFinalRemaining);
    newpayer.find('.payamount').keyup(updateFinalRemaining);

    newpayer.find('.should_pay').attr('name','payments_'+payercount+'[should_pay]').removeClass('edited').attr('value',0);
    newpayer.find('.should_pay').change(function(){$(this).addClass('edited');updateShouldPay();});
    newpayer.find('.should_pay').keyup(function(){$(this).addClass('edited');updateShouldPay();});

    newpayer.find('.td_action').append($('<a href="javascript:void(0)" class="remove_payer">Remove</a>'));
    newpayer.find('.remove_payer').click(function(){newpayer.remove();updateFinalRemaining();updateShouldPay();});

    newpayer.css('display', '');
  
    newpayer.find('.payername').autocomplete({
      source: users_names
    });

    var payers=$('.payername:not(#payername'+payercount+')')

    payers.each(function(index){
      newpayer.find('option[value='+this.value+']').remove();
      });
  
    newpayer.click(updateFinalRemaining);
    updateFinalRemaining();
    updateShouldPay();

    return;
  }

  function updateShouldPay()
  {
    //calculate edited should_pay
    var num_payers=$('tr.newPayer').size();
    var total_edited_should_pay = 0;
    var edited_count = 0;
    $(".should_pay.edited").each(function(){
      total_edited_should_pay += parseFloat(this.value);
      edited_count ++;
      });
    var left_avg = (total_cost - total_edited_should_pay)/(num_payers-edited_count);
    $("input.should_pay.:not(.edited)").attr("value", left_avg);
  }
</script>
  <table >
    <tbody id="payer_list">
      <tr>
        <th id="th1"> Participant</th>
        <th id="th2">Paid</th>
        <th id="th3">Should Pay <%= image_tag "calculator.png", :id => 'img_reset_avg', :class => 'clickable', :title => 'reset the average cost'  %></th>
        <th>Action</th>
        <th></th>
      </tr>
      <% payments = @activity.payments %>
      <%if payments.empty? 
          p = Payment.new()
          p.user = current_user
          p.activity = @activity
          payments << p 
        end
      %>

      <% payments[0].amount = @activity.cost %>
      <% i_am_creator = current_user.is_creator_of?(@activity) %>
      <% payments.each_with_index do |payment,i|  %>
        <% readonly = ! payment.editable_by_user?(current_user)%>
        <% he_is_creator = payment.user.is_creator_of?(@activity) %>
        <% id = i+1 %>
        <tr  class='newPayer' id='payer<%= id.to_s %>' >
          <td class="name_field"> 
	          <input id="test" class="payername <%= "creator" if he_is_creator %> <%= "readonly" if !i_am_creator || he_is_creator%>" 
            name="payments_<%=id%>[name]" value="<%= payment.user.username %>" <%= "readonly='readonly'" unless i_am_creator && !he_is_creator%>/>
          </td>
          <td style="text-align: right" class="td_amount amount_field">
            <span class='currency_mark' style="font-family: Arial">&yen;</span>
              <% if readonly %>
                <span class='readonly payer_amount <%= "creator" if he_is_creator %>'><%= payment.amount || 0 %></span>
                <input type='hidden' class='<%= "creator" if he_is_creator %>' name="payments_<%=id%>[amount]" value="<%= payment.amount || 0 %>" id="payamount<%= id %>"></input>

              <% else %>
                <%= number_field_tag :amount, payment.amount || 0,
                  {:step=>'any', :max => 1000000,:class => "payamount ",:name=>"payments_#{id}[amount]",:id=>"payamount#{id}"}%>
              <% end %>
          </td>
          <td class='td_should_pay'>
            <span style="font-family: Arial">&yen;</span>
            <%= number_field_tag :should_pay, payment.should_pay|| 0,
              {:step=>'any', :max => 1000000,:class => "should_pay",:name=>"payments_#{id}[should_pay]",:id=>"shouldpay#{id}"}%>
          </td>
          <td class='td_action'>
            <% if ! readonly %>
              <a href="javascript:void(0)" class='remove_payer'>Remove</a>
            <% end %>
          </td>
          <td> </td>
        </tr>
        <% readonly = false %>
      <% end %>
    </tbody>
  </table>
  <% if i_am_creator %>
    <span id="add_payer" ><%= link_to_function "add participant", "addNewPayer()", :class => "add_payer"%></span>
  <% end %>
