<div id='payers'>

  <% payments = @activity.payments %>
  <label>People in this activity:</label>
  <p id='user_attended'>

  </p>
  <label>People not in this activity:</label>
  <p id='user_candidate'>
    <% @users.each do |user| %>
      <span class='user_thumb'><%= user.username %> </span>
    <% end%>
  </p>
  <p>
    <span id='final_payer_span'>
       <%= label :payers, "Final Payer:" %>
          <%= select_tag "activity_dummy", options_from_collection_for_select(@users,"id","username",{:selected=>@users[0].id}), :class=>'payername',:id=>'final_payer'%>
          paid <span style="font-family: Arial">&yen;</span>
          <span id='final_payer_amount'><span/>
    </span>
    <div style='background-color:#eeeeee;'>The final payer is the one who collected the cash and gave it to the waiter or the one paid by credit card.</div>
  </p>


  <% payments << Payment.new() if payments.empty? %>

    <% payments[0].amount = @activity.cost %>
    <% readonly = true %>
    <% payments.each_with_index do |payment,i|  %>
       <% id = i+1 %>
       <div  class='newPayer' id='payer<%= id.to_s %>' <%= "style='display: none'" if i == 0 %> >
          <%= label :payers, "Payer:"%>
          <%= select_tag "activity[payments][]", options_from_collection_for_select(@users,"id","username",{:selected=>payment.user_id}), :class=>'payername',:id=>"payername#{id}"%>
          <%= label :payers, "Amount:"%>  <%= number_field_tag :amount, payment.amount || 0, {:min => 1,:step=>1,:class=>"payamount",:name=>"activity[payments][]",:id=>"payamount#{id}", :readonly=>readonly}%>
          <a href="javascript:void(0)" class='remove_payer'>Remove</a>
       </div>
       <% readonly = false %>
    <% end %>
</div>
<span id="add_payer"><%= button_to_function "add payer", "addNewPayer()"%></span>
