<% occur_at = @activity.occur_at || @activity.created_at %>
<script type="text/javascript">
   jQuery(function(){
      return;
      jQuery("#activity_calendar").renderCalendar({month:<%= occur_at.month-1%>,date:<%= occur_at.day %>, year:<%= occur_at.year %>});
      tableToGrid("#payment_detail_d",{autoWidth:true, caption:'Payment Details'});
   })
</script>

   <div id='activity_subject'>
       <span class='subject'><%= @activity.subject %></span>
   </div>
   <div id='activity_calendar'> </div>
   <p>
   <div><%= @activity.occur_at || @activity.created_at %></div>
   </p>
   <p>
   <div><span class='label'>Total cost:</span><span class='money'> <%= @activity.cost %></span>
   <span class='label'>Average Cost:</span><span class='money'> <%= (@activity.cost/@activity.payers.size).round(2) unless @activity.payers.empty? %></span></div>
   </p>
   <p>
   <div><span class='label'>Status: </span><%= @activity.status %></div>
   </p>
<hr/>
<div>
  <strong>Payments Details:</strong>
  <table >
    <tr>
      <th>Participant</th>
      <th>Payed</th>
      <th>Balance</th>
      <th>Status</th>
    </tr>
    <tbody>
    <% payers_count = @activity.payers.size %>
    <% average = @activity.cost / payers_count %>
    <% for payment in @activity.payments %>
    <% balance = (payment.amount - average).round(2) %>
      <tr>
         <td><%=payment.user.username%></td>
         <td class="number"><%= raw format_money(payment.amount)%></td>
         <td class="number" ><%= raw format_money(balance) %></td>
     <td>
         <% if payment.confirmed %>
              <span class="confirmed status roundbox">Confirmed</span>
             <% elsif payment.user == current_user%>
        <div id='<%= "confirm_span#{payment.id}" %>'>
            <%= link_to_function 'Confirm', 
                remote_function(:update => "confirm_span#{payment.id}", :url => { :action => :confirm_payment, :method => 'POST' }, :confirm => "Are you sure?") %> </div>
         <% else %>
            <span class="new status roundbox">Not confirmed</span>
             <% end %>

      </td>
      </tr>
    <% end%>
    </tbody>
  </table>

</div>
<div class="navigation-link" >
  <% if ! @activity.closed? %>
    <%= link_to "Edit", edit_activity_path(@activity) %> |
  <% end %>
  <%= link_to "Back to List", activities_path %>
</div>

